name: CI

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10.3
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.3
          fetch-depth: '2'

      - name: Set the value
        run: |
          echo "ACTIONS_ALLOW_UNSECURE_COMMANDS=true" >> $GITHUB_ENV

      - name: Install Poetry
        run: |
          curl -fsS -o install-poetry.py \
            https://raw.githubusercontent.com/python-poetry/poetry/HEAD/install-poetry.py
          python install-poetry.py -y
          echo "$POETRY_HOME/bin" >> $GITHUB_PATH

      - name: Cache Poetry virtualenv
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Install Dependencies
        run: poetry install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Code Quality
        run: poetry run black . --check

      - name: Test with tox
        run: poetry run tox

      - name: Generate coverage report
        run: poetry run pytest --cov=./ --cov-report=xml

#      - name: Upload coverage to Codecov
#        uses: codecov/codecov-action@v3